/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
}

.floatL {
  float: left;
}

.clearfix {
  clear: both;
}

header {
  background: #424242;
  height: 300px;
}

.headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 92px;
}

.headerLogo {
  width: 117px;
  height: 117px;
}

.typeDiv {
  margin-left: 97px;
  margin-right: 150px;
  margin-top: -18px;
}

.headerLabel {
  font-size: 18px;
  color: #FFD366;
}

.headerInput {
  background: rgba(255, 255, 255, 0.18);
  border: 2px solid #FFD366;
  border-radius: 10px;
  height: 34px;
  width: 128%;
  margin-top: 7px;
}

.headerInputSpace {
  margin-bottom: 1.5rem;
  padding-left: 1rem;
}

.resultCircle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #FFD366;
  line-height: 120px;
  text-align: center;
  font-size: 1.5rem;
}

.resultCircle:hover {
  cursor: pointer;
  background: #FFD366;
  -webkit-box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64);
          box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64);
}

.resultCircle:active {
  background: #DEA821;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(255, 255, 255, 0.5);
}

main {
  background: #f5f5f5;
  padding-bottom: 74px;
}

.h1 {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 20px;
}

.bmiUl {
  width: 61%;
  margin: 0 auto;
}

.bmiLi {
  width: 98.8%;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  background: #fff;
  position: relative;
}

.del {
  position: absolute;
  left: -80px;
  top: 20px;
  text-decoration: none;
}

.bmiLevel {
  font-size: 20px;
  color: #4A4A4A;
  margin-left: 12px;
  width: 100px;
}

.liDiv {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainSmalltext {
  font-size: 12px;
  color: #424242;
}

.mainNum {
  font-size: 20px;
  color: #4A4A4A;
  margin-left: 7px;
}

.mainTimeNow {
  font-size: 12px;
  color: #424242;
  margin-right: 11px;
}

footer {
  background: #FFD366;
  height: 90px;
}

footer .footerPic {
  width: 55px;
  display: block;
  margin: 0 auto;
  padding-top: 18px;
}

@media screen and (max-width: 767px) {
  .liDiv {
    margin-left: 10px;
  }
  .mainNum {
    font-size: 1rem;
  }
  .typeDiv {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media screen and (max-width: 576px) {
  .bmiUl {
    width: 100%;
  }
  .del {
    left: 0;
    top: -20px;
  }
  .bmiLi {
    margin-top: 3rem;
  }
  .typeDiv {
    margin-left: 15%;
    margin-right: 10%;
  }
  .headerInput {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .resultCircle {
    width: 60px;
    height: 60px;
    font-size: 12px;
    line-height: 60px;
  }
  .bmiLi {
    width: 98%;
  }
  .bmiLevel {
    font-size: 1rem;
    width: 32px;
  }
  .headerLogo {
    width: 60px;
    height: 60px;
  }
}
/*# sourceMappingURL=all.css.map */