  header {
    background: #424242;
    height: 300px;
  }

  .headerContent {
    display: flex;
    justify-content: center;
    padding-top: 92px;

  }

  .headerLogo {
    width: 117px;
    height: 117px;
  }

  .typeDiv {
    margin-left: 97px;
    margin-right: 150px;
    margin-top: -18px;

    
  }
  .headerLabel {
    font-size: 18px;
    color: #FFD366;
  }

  .headerInput {
    background: rgba(255, 255, 255, 0.18);
    border: 2px solid #FFD366;
    border-radius: 10px;
    height: 34px;
    width: 128%;
    margin-top: 7px;
  }

  .headerInputSpace {
    margin-bottom: 1.5rem;
    padding-left: 1rem;
  }
  .resultCircle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #FFD366;
    line-height: 120px;
    text-align: center;
    font-size: 1.5rem;
    border: 0px;
    // border: 6px solid #86D73F;

    &:hover {
      cursor: pointer;
      background: #FFD366;
      box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64);
    }

    &:active {
      background: #DEA821;
    }
    
  }
  .resultCircleChange{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    // border: 6px solid #86D73F;
    background: #424242;
    color: #86D73F;
    position: relative;
  }
  .bmiNum{
    font-size: 32px;
  }
  .bmiText{
    font-size: 14px;
    position: absolute;
    left:40px;
  }
  .bmiLevelText2{
    position: absolute;
    font-size: 32px;
    top: 30px;
    right: -100px;
  }
  .bmiLevelText4{
    position: absolute;
    font-size: 32px;
    top: 30px;
    right: -150px;
  }
  .loopImg{
    position: absolute;
    background: #86D73F;
    border: 3px solid #424242;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 70px;
    left: 85px;
    padding: 5px;
  }

  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    /* WebKit browsers */
    color: rgba(255, 255, 255, 0.50);
  }