
@media screen and (max-width:968px){
  .bmiLevelText4{
    display: none
  }
}
@media screen and (max-width:867px){
  .bmiLevelText2{
    display: none
  }
}
@media screen and (max-width:767px){
  .liDiv{
    margin-left: 10px;
  }
  .mainNum{
    font-size: 1rem;
  }
  .typeDiv{
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media screen and (max-width:576px){
  .bmiUl{
    width: 100%;
  }
  .del{
    left: 0;top: -20px;
  }
  .bmiLi{
    margin-top: 3rem;
  }
  .typeDiv{
    margin-left: 15%;
    margin-right: 5%;
  }
  .headerInput{
    width: 80%;
  }
  .resultCircle{
    width: 80px;
    height: 80px;
    font-size: .8rem;
    line-height: 80px;
  }
  .resultCircleChange{
    width: 80px;
    height: 80px;
    font-size: .8rem; 
  }
  .loopImg{
    display: none;
  }
  .bmiNum{
    font-size: 0.8rem;
  }
  .bmiText{
    left: 23px;
  }
}
@media screen and (max-width:375px){
  .resultCircle{
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  .resultCircleChange{
    width: 60px;
    height: 60px;
  }
  .bmiLi{
    width: 98%;
  }
  .bmiLevel{
    font-size: 1rem;
    width: 32px;
  }
  .headerLogo{
    width: 60px;
    height: 60px;
  }
  .bmiText{
    left: 12px;
    font-size: 12px;
  }
}